#WM{
    -fx-background-image: url('Images//Watermelon_btn.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-color:black;
    /* ---- */
    -fx-background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-border-color: white;
    -fx-border-width: 2px;
    
}

#WM:hover{
    -fx-background-image: url('Images//RedWater_png.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-color: rgb(0, 0, 0);

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
    -fx-text-fill: #ffffff;
    /* ----- */
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-text-fill: rgb(255, 255, 255);
}

.mediaview {
    -fx-min-width: 100%;
    -fx-min-height: 100%;
    -fx-max-width: 100%;
    -fx-max-height: 100%;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.7; /* Adjust opacity as needed */
    -fx-blend-mode: overlay; /* Add overlay effect if desired */
}


.ChooseGameMedia {
    -fx-min-width: 100%;
    -fx-min-height: 100%;
    -fx-max-width: 100%;
    -fx-max-height: 100%;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.7; /* Adjust opacity as needed */
    -fx-blend-mode: overlay; /* Add overlay effect if desired */
}


.tableview {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #d6d6d6;
    -fx-border-width: 1px;
}

.tableview .column-header-background {
    -fx-background-color: #d6d6d6;
}

.tableview .column-header, .tableview .filler {
    -fx-size: 30px;
}

.tableview .column-header .label {
    -fx-text-fill: #333;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tableview .table-row-cell {
    -fx-background-color: #ffffff;
    -fx-border-color: #d6d6d6;
    -fx-border-width: 0 0 1px 0;
}

.tableview .table-row-cell:filled:selected {
    -fx-background-color: #cce5ff;
}

.tableview .table-cell {
    -fx-padding: 10px;
    -fx-font-size: 12px;
    -fx-text-fill: #333;
}

.tableview .table-cell:filled:selected {
    -fx-background-color: #cce5ff;
    -fx-text-fill: #000;
}

.tableview .table-cell:empty {
    -fx-background-color: #f4f4f4;
}

